<!-- Button -->
<button type="button" class="btn btn-primary edit-button" data-toggle="modal" data-target="#exampleModalCenter">
  Details
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Kyoro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= image_tag "kyoro-dashboard.png", alt: "kyoro dashboard", class:"modal-image" %>
        <%= image_tag "kyoro-team.png", alt: "kyoro team", class:"modal-image" %>
        <%= image_tag "kyoro-survey-show.png", alt: "kyoro surveys", class:"modal-image" %>
        <%= image_tag "kyoro-slack.png", alt: "kyoro slack", class:"modal-image" %>
      </div>
    </div>
  </div>
</div>