<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <!--     <div class="sidebar-header">
      <h3>Dashboard</h3>
    </div> -->
    <ul class="list-unstyled components sidebar-ul">
      <li class="active sidebar-li">
        <%= link_to 'Projects', root_path, class: "sidebar-a" %>
      </li>
      <li class="sidebar-li">
        <a class="sidebar-a" href="#">Resume</a>
      </li>
      <li class="sidebar-li">
        <a class="sidebar-a" href="#">Contact Me</a>
      </li>
    </ul>
  </nav>
</div>